@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
/*para agregar fuentes*/

* {
  box-sizing: border-box;
  margin: 5;
  padding: 5;
}

/*Uso de flexbox*/
/*flexbox-1*/
.padre {
  display: flex; /*para usar flexbox*/
  justify-content: center; /*para centrar los elementos horizontalmente*/
  flex-direction: row; /*para alinear los elementos en columna*/
  gap: 15px; /*espacio entre los elementos*/
}

.hijo {
  width: 100px;
  height: 20px;
  border-radius: 10px; /*redondea los bordes*/
  text-align: center; /*para centrar los textos dentro del elemento*/
  font-weight: bold; /*para poner en negrita*/
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-1 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-2 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-3 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

/*flexbox-2*/
.flier-padre {
  display: flex; /*para usar flexbox*/
  flex-direction: row; /*para alinear los elementos en columna*/
  gap: 15px; /*espacio entre los elementos*/
  flex-wrap: wrap; /*para que los elementos se ajusten al tamaño del contenedor*/
  justify-content: center; /*para centrar los elementos horizontalmente*/
}

.flier {
  width: 250px;
  height: 250px;
  border-radius: 10px; /*redondea los bordes*/
  background-color: rgb(69, 33, 69);
}

.flier-1 {
  background-color: rgb(69, 33, 69);
}

.flier-2 {
  background-color: rgb(69, 33, 69);
}

/*titulos-sub titulos */
.titulo {
  border-radius: 10px; /*redondea los bordes*/
  border: 1px solid; /*para agregar bordes*/
  text-align: center; /*para centrar*/
  font-family: "Ciencia gotica" sans-serif; /*para agregar una fuente*/
  color: rgb(241, 135, 6); /*color del texto*/
  font-size: 30px; /*tamaño del texto*/
  background-color: rgb(69, 33, 69); /*color del fondo*/
}

.subtitulo {
  color: rgb(241, 135, 6);
  font-size: 23px;
}

body {
  background-color: rgb(15, 15, 16);
}

button {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

a,
ul,
ol,
label {
  color: rgba(241, 135, 6, 0.717);
}

strong {
  color: rgb(241, 135, 6);
}

p {
  color: rgba(241, 135, 6, 0.717);
  margin: 10px; /*(margin) cambia el margen de los textos*/
  text-align: justify; /*para justificar*/
}

a:hover {
  /*para que cambie el color cuando se pasa el raton*/
  color: aqua;
}

input {
  margin: 5px;
}
