@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
/*para agregar fuentes*/

.titulo {
  border: 1px solid; /*para agregar bordes*/
  text-align: center; /*para centrar*/
  font-family: "Ciencia gotica" sans-serif; /*para agregar una fuente*/
  color: rgb(241, 135, 6); /*color del texto*/
  font-size: 30px; /*tamaño del texto*/
  background-color: rgb(69, 33, 69); /*color del fondo*/
}

.subtitulo {
  color: rgb(241, 135, 6);
  font-size: 23px;
}

/*para crear pildoras*/
.pildora {
  /*pildora base*/
  border-radius: 10px; /*color de bordes */
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  /*espaciado de relleno*/
  color: black;
}

.pildora-violet {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.pildora-orange {
  color: rgb(69, 33, 69);
  background-color: rgb(241, 135, 6);
}

body {
  background-color: rgb(15, 15, 16);
}

button {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

ul,
ol,
label {
  color: rgba(241, 135, 6, 0.717);
}

strong {
  color: rgb(241, 135, 6);
}

p {
  color: rgba(241, 135, 6, 0.717);
  margin: 10px; /*(margin) cambia el margen de los textos*/
  text-align: justify; /*para justificar*/
}

a:hover {
  /*para que cambie el color cuando se pasa el raton*/
  color: aqua;
}

input {
  margin: 5px;
}
