@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
/*para agregar fuentes*/

* {
  box-sizing: border-box;
  margin: 5;
  padding: 5;
}

.titulo {
  border: 1px solid; /*para agregar bordes*/
  text-align: center; /*para centrar*/
  font-family: "Ciencia gotica" sans-serif; /*para agregar una fuente*/
  color: rgb(241, 135, 6); /*color del texto*/
  font-size: 30px; /*tamaño del texto*/
  background-color: rgb(69, 33, 69); /*color del fondo*/
}

.subtitulo {
  color: rgb(241, 135, 6);
  font-size: 23px;
}

/*para crear pildoras*/
.padre {
  /* (vh) "viewport heigt" hace referencia a la altura de la pantalla */
  /* 100vh = 100% del alto del viewport */
  /* 1vh = 1% de la pantalla */
  height: 5vh;
  /*  width: 213vh; /* ancho de la pantalla */
  background-color: rgb(241, 135, 6);
  display: flex; /* hacemos que el padre sea una flexbox */
  flex-direction: row; /* los hijos se acomodan en fila (row) o en columna (column) */
  gap: 20px; /* espacio entre los hijos */
  justify-content: space-between; /* (justify content) acomoda a los hijos en el eje principal (eje x horizontal) */
  /* left= izquierda, right= derecha y center para centrar los hijos */
  /* space-evely= espaciar entre cada hijo y bordes le mismo valor */
  /* space between= (el mas importante) divie el espacio sobrante entre cada hijo */
}

.hijo {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-1 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-2 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

.hijo-3 {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

body {
  background-color: rgb(15, 15, 16);
}

button {
  color: rgb(241, 135, 6);
  background-color: rgb(69, 33, 69);
}

a,
ul,
ol,
label {
  color: rgba(241, 135, 6, 0.717);
}

strong {
  color: rgb(241, 135, 6);
}

p {
  color: rgba(241, 135, 6, 0.717);
  margin: 10px; /*(margin) cambia el margen de los textos*/
  text-align: justify; /*para justificar*/
}

a:hover {
  /*para que cambie el color cuando se pasa el raton*/
  color: aqua;
}

input {
  margin: 5px;
}
